/*
 * Product API
 *
 * Move your app forward with the Product API
 *
 * OpenAPI spec version: 1.0.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System;
using System.Collections.Generic;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.IO;
using System.Linq;
using System.Net;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.SwaggerGen.Annotations;
using IO.Swagger.Models;

namespace IO.Swagger.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    public class UserApiController : Controller
    { 

        /// <summary>
        /// User Activity
        /// </summary>
        /// <remarks>The User Activity endpoint returns data about a user&#39;s lifetime activity with Uber. The response will include pickup locations and times, dropoff locations and times, the distance of past requests, and information about which products were requested.&lt;br&gt;&lt;br&gt;The history array in the response will have a maximum length based on the limit parameter. The response value count may exceed limit, therefore subsequent API requests may be necessary.</remarks>
        /// <param name="offset">Offset the list of returned results by this amount. Default is zero.</param>
        /// <param name="limit">Number of items to retrieve. Default is 5, maximum is 100.</param>
        /// <response code="200">History information for the given user</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/v1/history")]
        [SwaggerOperation("HistoryGet")]
        [SwaggerResponse(200, type: typeof(Activities))]
        public virtual IActionResult HistoryGet([FromQuery]int? offset, [FromQuery]int? limit)
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<Activities>(exampleJson)
            : default(Activities);
            return new ObjectResult(example);
        }


        /// <summary>
        /// User Profile
        /// </summary>
        /// <remarks>The User Profile endpoint returns information about the Uber user that has authorized with the application.</remarks>
        /// <response code="200">Profile information for a user</response>
        /// <response code="0">Unexpected error</response>
        [HttpGet]
        [Route("/v1/me")]
        [SwaggerOperation("MeGet")]
        [SwaggerResponse(200, type: typeof(Profile))]
        public virtual IActionResult MeGet()
        { 
            string exampleJson = null;
            
            var example = exampleJson != null
            ? JsonConvert.DeserializeObject<Profile>(exampleJson)
            : default(Profile);
            return new ObjectResult(example);
        }
    }
}
